<% if @errors %>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= form_tag sessions_path do %>
  Username <%= text_field_tag :username %>
  Password <%= password_field_tag :password %>
  <%= submit_tag "Log In" %>
<% end %>
